.main {
  max-width: 840px;
  margin: 0 auto;
}

@media (max-width: 1366px) {
  .main {
    max-width: 700px;
    margin: 0 auto;
  }
}

@media (max-width: 1280px) {
  .main {
    max-width: 650px;
    margin: 0 auto;
  }
}

@media (max-width: 1080px) {
  .main {
    max-width: 600px;
    margin-left: 8em;
  }
}

.sidebar {
  top: 0;
  width: 11.8em;
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  height: 100%;
  right: 0;
  padding-top: 10em;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar a {
  color: rgb(255, 255, 255);
  padding: .8em 0;
  text-decoration: none;
}

.sidebar a span {
  -ms-transition: 1s border-bottom cubic-bezier(.23, 1, .32, 1), 1s transform cubic-bezier(.23, 1, .32, 1);
  -o-transition: 1s border-bottom cubic-bezier(.23, 1, .32, 1), 1s transform cubic-bezier(.23, 1, .32, 1);
  transition: 1s border-bottom cubic-bezier(.23, 1, .32, 1), 1s transform cubic-bezier(.23, 1, .32, 1);
  -moz-transition: 1s border-bottom cubic-bezier(.23, 1, .32, 1), 1s transform cubic-bezier(.23, 1, .32, 1);
  -webkit-transition: 1s border-bottom cubic-bezier(.23, 1, .32, 1), 1s transform cubic-bezier(.23, 1, .32, 1);
  border-bottom: 1px solid transparent;
}

.sidebar, li {
  -ms-transition: 1s background-color cubic-bezier(.23, 1, .32, 1), 1s transform cubic-bezier(.23, 1, .32, 1);
  -o-transition: 1s background-color cubic-bezier(.23, 1, .32, 1), 1s transform cubic-bezier(.23, 1, .32, 1);
  transition: 1s background-color cubic-bezier(.23, 1, .32, 1), 1s transform cubic-bezier(.23, 1, .32, 1);
  -moz-transition: 1s background-color cubic-bezier(.23, 1, .32, 1), 1s transform cubic-bezier(.23, 1, .32, 1);
  -webkit-transition: 1s background-color cubic-bezier(.23, 1, .32, 1), 1s transform cubic-bezier(.23, 1, .32, 1);
}

.sidebar a {
  -ms-transition: 1s color cubic-bezier(.23, 1, .32, 1), 1s transform cubic-bezier(.23, 1, .32, 1);
  -o-transition: 1s color cubic-bezier(.23, 1, .32, 1), 1s transform cubic-bezier(.23, 1, .32, 1);
  transition: 1s color cubic-bezier(.23, 1, .32, 1), 1s transform cubic-bezier(.23, 1, .32, 1);
  -moz-transition: 1s color cubic-bezier(.23, 1, .32, 1), 1s transform cubic-bezier(.23, 1, .32, 1);
  -webkit-transition: 1s color cubic-bezier(.23, 1, .32, 1), 1s transform cubic-bezier(.23, 1, .32, 1);
}

.sidebar a:hover span {
  border-bottom: 1px solid #ffffff;
}

.sidebar a.active {
  color: rgb(35, 35, 35);
  background-color: #ffffff;

}

ul {

}

li {
  flex-direction: column;
  width: 100%;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.870588);
  border-radius: 2px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  padding: 1em;
  margin: 4px;
}

li:hover {
  box-shadow: 1px 1px 6px 0 rgb(209, 211, 210);
  transform: scale(1.02);
  transition: all .35s;
}

li .info {

}

li .extra {
  color: rgba(242, 242, 242, 0.87);
  font-size: small;
  margin-top: .44em;
}

li .extra span {
  margin-right: 1em;
}

li .extra i {
  margin-right: .3em;
}

li .title {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-size: 1.25em;
}

li .host {
  margin: .2em;
  font-size: .76em;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
}

li .host:hover {
  text-decoration: underline;
}

theme-switcher {
  position: relative;
  top: -60px;
  background-color: #ffffff;
}

.loader-inner-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2.5em 0;
}

